<div class="col-md-4 text-center ">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="<%= img_src %>" alt="sorry">
    <h2 class="fw-normal"><%= heading %></h2>
    <p><%= info %></p>
    <p><a class="btn btn-lg btn-primary w-100" href="<%= btn_href %>"><%= btn %></a></p>
</div>