<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head.ejs'); %>
</head>

<body id="page-top">
  <%- include('components/navbar.ejs'); %>
  <div class="container p-4">

    <h1 class="display-4 fw-bold mb-lg-4">Change Your Password</h1>

    <% if ( typeof error !== 'undefined' ) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error: </strong>
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
        <% if ( typeof success !== 'undefined' ) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= success %></strong>
        Go <a href="/employee/dashboard">Employee Home</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <form action="/employee/change-password" method="post">

      <div class="mb-1 row g-1">
        <div class="input-group col-md">
          <label class="input-group-text" for="current_pass">Current Password</label>
          <input type="password" class="form-control rounded-end text-break" placeholder="Current Password" id="current_pass" name="current_pass" required>
        </div>
      </div>

      <div class="mb-1 row g-1">
        <div class="input-group col-md">
          <label class="input-group-text rounded-start" for="new_pass">New Password</label>
          <input type="password" class="form-control text-break" placeholder="New Password" id="new_pass" name="new_pass" required>
        </div>
      </div>

      <div class="mb-1 row g-1">
        <div class="input-group col-md">
          <label class="input-group-text rounded-start" for="confirm_pass">Confirm Password</label>
          <input type="password" class="form-control text-break" placeholder="Confirm Password" id="confirm_pass" name="confirm_pass" required>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-around">
        <button class="btn btn-lg btn-primary my-3" style="width: 47%;" type="submit">Change</button>
        <button class="btn btn-lg btn-secondary my-3" style="width: 47%;" type="button" onclick="window.location.replace(`/employee/dashboard`)">Cancle and Go Back</button>
      </div>

    </form>
  </div>
  <%- include('components/footer.ejs'); %>
</body>

</html>